<nav class="bg-white shadow px-6 py-4 flex justify-between items-center">
    <div class="text-xl font-bold text-blue-600">
        CrediLoan
    </div>

    <div class="space-x-4">
        <a routerLink="/user/dashboard" class="text-gray-700 hover:text-blue-600">
            Dashboard
        </a>
        <a routerLink="/user/profile" class="text-gray-700 hover:text-blue-600">
            Profile
        </a>
        <a routerLink="/auth/login" class="text-red-500 hover:underline">
            Logout
        </a>
    </div>
</nav>